<nb-layout windowMode>
  <nb-layout-header fixed class="top-bar"  >
    <div (click)="toggle()">
      <button class="btn"> <nb-icon icon="menu" ></nb-icon></button>
    </div>
    <div>
      Pay me
    </div>
    <div>
      <img class="logo" alt="gitech" src="assets/image/Gitech-Logo-Design-10-1.png"/>
    </div>
    <div (click)="logOutModal()"  class="align-content-end">
      <button class="btn btn-outline-light">
        <nb-icon icon="log-out-outline"></nb-icon>
        Deconnexion
      </button>
    </div>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <app-sidebar-menu></app-sidebar-menu>
  </nb-sidebar>
  <nb-layout-column>
    <app-loader></app-loader>
    <router-outlet></router-outlet>
    <app-alert></app-alert>
  </nb-layout-column>
</nb-layout>
