<nb-layout>
  <nb-layout-header fixed class="top-bar"  >
    <div>
      Pay me
    </div>
    <div>
      <img class="logo" alt="gitech" src="assets/image/Gitech-Logo-Design-10-1.png"/>
    </div>
    <div (click)="logOutModal()"  class="align-content-end">
      <button class="btn btn-outline-light">
        <nb-icon icon="log-out-outline"></nb-icon>
        Deconnexion
      </button>
    </div>
  </nb-layout-header>
  <nb-sidebar>
    <app-sidebar-menu></app-sidebar-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
