<div class="row" >
  <div class="col-lg-6">
    <nb-card >
      <nb-card-header>Transaction {{periode}}</nb-card-header>
      <nb-card-body>
        <nb-card>
          <div class="graph">
            <chart type="line" [data]="data" [options]="options" ></chart>
          </div>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>pourcentage Transactions {{periode}}</nb-card-header>
      <nb-card-body>
        <nb-card>
          <div class="graph">
          <chart type="pie" [data]="pieData" [options]="pieOptions"></chart>
          </div>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
</div>
