<nb-card>
  <nb-card-header>
    <button status="info" fullWidth="small" nbButton size="small" (click)="toggleField()">
      Recherche
      <nb-icon [icon]="classToggled?'arrow-downward-outline':'arrow-upward-outline'"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body [class.toggled]=classToggled class="animated fadeInup">
    <div class="row" >

      <nb-form-field class="col-sm">
        <input type="text" [(ngModel)]="nom" nbInput fieldSize="small" fullWidth shape="round" placeholder="Nom partenaire">
      </nb-form-field>

      <nb-form-field class="col-sm">
        <nb-select  placeholder="Status" [(ngModel)]="etatPartner"   shape="round" fullWidth size="small">
          <nb-option  *ngFor="let etatPartner of EtatPartnerList" [value]="etatPartner">{{etatPartner}}</nb-option>
        </nb-select>
      </nb-form-field>

      <button (click)="search()" nbButton status="primary">
        <nb-icon size="small" icon="search"></nb-icon>
      </button>
    </div>

  </nb-card-body>
</nb-card>
